<link rel="import" href="data/achievementinfo.html">

<dom-module id="papan-achievement-badge">
  <link rel="import" type="css" href="achievementbadge.css">
  <template>
    <achievement-info achievementid=[[achievementid]] achievementinfo={{_achievement}}></achievement-info>

    <div class="user-achievement">
      <div class="pic">[[_achievement.achievementpicture]]</div>[[_achievement.achievementname]]
    </div>
  </template>

  <script>
    'use strict'

    Polymer({
      is: 'papan-achievement-badge',

      properties: {
        /*
          ID of the achievement to be displayed
        */
        achievementid: {
          type: String
        }
      }
    })
  </script>
</dom-module>
