<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="data/auth-available.html">

<dom-module id="auth-login">
  <link rel="import" type="css" href="auth-login.css">
  <template>
    Login form
    <auth-available authavailable={{_authavailable}}></auth-available>
    <!--{"steam":{"loginPath":"/auth/steam/login","connectPath":"/auth/steam/connect"}}-->
    <template is="dom-repeat" items="[[_authavailable]]">
      <paper-button raised><a href="[[item.loginPath]]">[[item.provider]]</a></paper-button>
    </template>
  </template>

  <script>
    'use strict'

    Polymer({
      is: "auth-login",

      properties: {
        /*
          achievement data from the DB
        */
        _authavailable: {
          type: Array,
          notify: true,
        }
      }
    })
  </script>
</dom-module>
