<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="data/auth-available.html">
<link rel="import" href="data/auth-info.html">

<dom-module id="auth-login">
  <link rel="import" type="css" href="auth-login.css">
  <link rel="import" type="css" href="data/auth-provider.css">
  <template>
    <auth-available auth-available="{{_authAvailable}}"></auth-available>
    <auth-info auth-info="{{_authInfo}}" is-logged-in="{{_isLoggedIn}}" is-logged-out="{{_isLoggedOut}}"></auth-info>
    <template is="dom-if" if="[[_isLoggedIn]]">
      <a href="/logout">Logout</a>
    </template>
    <template is="dom-if" if="[[_isLoggedOut]]">
      <div class="profilearea">
        <div class="profiletitle">Sign in with</div>
        <template is="dom-repeat" items="[[_authAvailable]]">
          <paper-button class$="[[item.provider]] loginbutton" papan-path="[[item.loginPath]]" on-tap="_loginClick">
            <div>[[item.provider]]</div>
          </paper-button>
          <br />
        </template>
      </div>
    </template>
  </template>

  <script>
    'use strict'

    Polymer({
      is: "auth-login",

      _loginClick: function(e) {
        let path = e.currentTarget.papanPath
        e.currentTarget.addEventListener('transitionend', () => {
          location.href = path
        })
      }
    })
  </script>
</dom-module>
