<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<link rel="import" href="auth-login.html">
<link rel="import" href="auth-profile.html">

<script src="../bower_components/js-cookie/src/js.cookie.js"></script>

<dom-module id="auth-main-window">
  <link rel="import" type="css" href="auth-mainwindow.css">

  <template>
    <app-location
      route="{{_route}}">
    </app-location>
    <app-route
      route="{{_route}}"
      pattern="/:view"
      data="{{_routeData}}"
      tail="{{_pagesRoute}}">
    </app-route>
    <paper-card>
      <div>Papan auth server</div>
    </paper-card>
    <iron-pages 
      id="content" 
      selected="[[_routeData.view]]"
      attr-for-selected="id"
      fallback-selection="startupscreen">
      <div id="startupscreen">Welcome</div>
      <auth-login id="login">Login</auth-login>
      <auth-profile id="profile" route="{{_pagesRoute}}">Profile</auth-profile>
    </iron-pages>
  </template>
  <script>
    'use strict'

    Polymer({
      is: 'auth-main-window',

      ready: function() {
        console.log('Reading cookies')
        console.log(Cookies.get())
      }
    })
  </script>
</dom-module>
