<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">

<link rel="import" href="auth-login.html">
<link rel="import" href="auth-profile.html">

<dom-module id="auth-main-window">
  <link rel="import" type="css" href="auth-mainwindow.css">

  <template>
    <app-location
      url-space-regex="^/render"
      route="{{_route}}">
    </app-location>
    <app-route
      route="{{_route}}"
      pattern="/render/:view"
      data="{{_routeData}}"
      tail="{{_pagesRoute}}">
    </app-route>
    <app-header reveals>
      <app-toolbar>
      <div>Papan auth server</div>
      </app-toolbar>
    </app-header>
    <iron-pages 
      id="content" 
      selected="[[_routeData.view]]"
      attr-for-selected="id"
      fallback-selection="startupscreen">
      <div id="startupscreen">
        Welcome<br />
        <a href="render/login">Login</a><br />
        <a href="render/profile">Profile</a><br />
      </div>
      <auth-login id="login">Login</auth-login>
      <auth-profile id="profile">Profile</auth-profile>
    </iron-pages>
  </template>
  <script>
    'use strict'

    Polymer({
      is: 'auth-main-window',
    })
  </script>
</dom-module>
