#chat{
  height: 100%;
  border-left: 1px solid darkgray;
}

#chattext{
  padding: 2px;
  border-bottom: 1px solid darkgray;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
}

.chatusername{
  width: 100px;
  font-weight: 500;
  padding-right: 2px;
}

paper-input{
  padding: 2px;
}