<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="papan-chat">
  <link rel="import" type="css" href="chat.css">
    <template>
      <style include="iron-flex iron-flex-alignment">
  </style>
      <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
      <div id="chat" class="layout vertical">
        <div id="chattext" class="layout flex"></div>
        <paper-input
          class="layout end"
          no-label-float
          value="{{_text}}"
          on-keypress="_keyPressed">
          <div suffix slot="suffix"><paper-icon-button icon="send" on-tap="_localmessage"></paper-icon-button></div>
        </paper-input>
      </div>
    </div>
  </template>


  <script>
    'use strict'

    Polymer({
      is: 'papan-chat',

      properties: {
        /*
          Name of the user writing in the chat box
        */
        user: {
          type: String
        },

        /*
          Lobby related to the chat
        */
        lobby: {
          type: Object
        },

        _text: {
          type: String
        }
      },

      observers: [
        '_updateLobby(lobby)'
      ],

      _updateLobby: function (lobby) {
        // lobbyInterface
        lobby.on('chat', data => {
          // todo: switch to data.user.name
          this.$.chattext.innerHTML += '<b>' + data.user.id + '</b>: ' + data.message + '<br />'
        })
      },

      /*
        writes a message in the chat box.
      */
      sendMessage: function (user, message) {
        var textzone = this.$.chattext
        if (message !== '') {
          this.lobby.sendChatMessage(message)
        }
        textzone.scrollTop = textzone.scrollHeight
  },

      _localmessage: function () {
        var textbox = this._text
        this.sendMessage(this.user, textbox)
        this._text = ''
      },

      _keyPressed: function (e) {
        if (e.charCode === 13) this._localmessage()
  }
    })
  </script>
</dom-module>
