<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="papan-chat">
  <link rel="import" type="css" href="chat.css">
    <template>
      <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
      <div id="chat" class="layout vertical">
        <div id="chattext" class="layout flex"></div>
        <paper-input
          class="layout end"
          no-label-float
          value="{{_text}}"
          on-keypress="_keyPressed">
          <div suffix><paper-icon-button icon="send" on-tap="_localmessage"></paper-icon-button></div>
        </paper-input>
      </div>
    </div>
  </template>

  <style include="iron-flex iron-flex-alignment">
  </style>

  <script>
    'use strict'

    Polymer({
      is: "papan-chat",

      properties: {
        /*
          Name of the user writing in the chat box
        */
        user : {
          type: String
        }
      },

      /*
        writes a message in the chat box.
      */
      sendMessage: function(user, message) {
        var textzone = this.$.chattext
        if (message != '') {
          textzone.innerHTML += '<b>' + user + '</b>: ' + message + '<br />'
        }
        textzone.scrollTop = textzone.scrollHeight;
      },

      _localmessage: function(){
        var textbox = this._text
        this.sendMessage(this.user, this._text)
        this._text = ''
      },

      _keyPressed: function(e) {
        if (e.charCode === 13) this._localmessage();
      }
    })
  </script>
</dom-module>
