<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../bower_components/iron-icons/places-icons.html">
<link rel="import" href="../bower_components/iron-selector/iron-selectable.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">

<link rel="import" href="data/localize.html">

<dom-module id="papan-drawer-menu">
  <link rel="import" type="css" href="drawermenu.css">
  <template>
    <style include="iron-flex iron-flex-alignment"></style>
    <app-drawer id="drawermenu" swipe-open>
      <paper-listbox selected="{{view}}" attr-for-selected="name">
        <paper-icon-item class="appmenuitem" name="startupscreen">
          <iron-icon icon="home"></iron-icon>[[localize('home')]]
        </paper-icon-item>
        <a href="#/server/[[server]]/friends" tabindex="-1" name="friends">
          <paper-icon-item class="appmenuitem">
            <iron-icon icon="communication:contacts"></iron-icon>[[localize('friends')]]
          </paper-icon-item>
        </a>
        <a href="#/server/[[server]]/games" tabindex="-1" name="games">
          <paper-icon-item class="appmenuitem">
            <iron-icon icon="places:casino"></iron-icon>[[localize('games')]]
          </paper-icon-item>
        </a>
        <paper-icon-item class="appmenuitem" name="serverlist">
          <iron-icon icon="device:dvr"></iron-icon>[[localize('servers')]]
        </paper-icon-item>
        <paper-icon-item class="appmenuitem" name="placeholder">
          <iron-icon icon="report"></iron-icon>Placeholder
        </paper-icon-item>
      </paper-listbox>
    </app-drawer>
  </template>


  <script>
    'use strict'

    Polymer({
      is: "papan-drawer-menu",

      listeners: {
        'iron-select': '_itemSelected'
      },

      properties: {
        /*
          active viev
        */
        view: {
          type: String,
          notify: true
        },
        
        /*
          server where the game is hosted
        */
        server: {
          type: String
        }
      },

      behaviors: [
        PapanLocalize
      ],

      /*
        Toggle the drawer visibility
      */
      toggle: function() {
        this.$.drawermenu.toggle()
      },

      _itemSelected: function() {
        this.$.drawermenu.close()
      }
    })
  </script>
</dom-module>
