<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../bower_components/iron-icons/places-icons.html">
<link rel="import" href="../bower_components/iron-selector/iron-selectable.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">

<link rel="import" href="data/localize.html">

<dom-module id="papan-drawer-menu">
  <link rel="import" type="css" href="drawermenu.css">
  <template>
    <app-drawer id="drawermenu" swipe-open>
      <paper-listbox selected="{{view}}" attr-for-selected="name">
        <paper-icon-item class="appmenuitem" name="friends">
          <iron-icon icon="communication:contacts"></iron-icon>[[localize('friends')]]
        </paper-icon-item>
        <paper-icon-item class="appmenuitem" name="games">
          <iron-icon icon="places:casino"></iron-icon>[[localize('games')]]
        </paper-icon-item>
        <paper-icon-item class="appmenuitem" name="serverlist">
          <iron-icon icon="device:dvr"></iron-icon>[[localize('servers')]]
        </paper-icon-item>
      <div class="layout horizontal" style="margin: auto">
        <span>🇬🇧</span>
        <paper-toggle-button on-change="_toggle" id="switch"></paper-toggle-button>
        <span>🇫🇷</span>
      </div>
      </paper-listbox
    </app-drawer>
  </template>

  <style include="iron-flex iron-flex-alignment"></style>

  <script>
    'use strict'

    Polymer({
      is: "papan-drawer-menu",

      listeners: {
        'iron-select': '_itemSelected'
      },

      properties: {
        /*
          Language to be set in the menu
        */
        language: {
          value: 'en',
          type: String,
          notify: true
        },
        /*
          View to be set in the menu
        */
        view: {
          type: String,
          notify: true
        }
      },

      behaviors: [
        PapanLocalize
      ],

      _toggle: function() {
        this.language = this.$.switch.checked ? 'fr' : 'en';
      },

      _itemSelected: function() {
        this.$.drawermenu.close()
      },

      toggle: function() {
        this.$.drawermenu.toggle()
      }
    })
  </script>
</dom-module>
