#banner {
  background-color: lightgrey;
  height: 200px;
  display: block;
}

#banner iron-image {
  display: block;
  height: 200px;
  width: 100%;
  --iron-image-width: 100%;
}

#bannertitle {
  display: block;
  position: absolute;
  top: 214px;
  height: 40px;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20pt;
  background-color: rgba(255, 255, 255, 0.7)
}

#gameInfos {
  margin-top: 10px;
  margin-bottom: 10px;
}

#gameDescription {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
}

a :hover {
  color: #555599;
}