<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="data/localize.html">

<dom-module id="papan-game-page">
  <link rel="import" type="css" href="game.css">
  <template>
    <app-route
      route="{{route}}"
      pattern="/:collection/:gameid"
      data="{{_routeData}}">
    </app-route>
    <div id="banner">
      <iron-image 
        src="[[_currentGame.fullPath]]/[[_currentGame.json.banner]]"
        placeholder="pictures/gamebanner.svg"
        preload>
      </iron-image>
      <div id="bannertitle">[[_currentGame.json.name]]</div>
    </div>

    <div id="gameInfos">
      <iron-icon icon="supervisor-account"></iron-icon>[[_numPlayers]]
      <a href="#/lobby/{{lobby}}" tabindex="-1"><paper-icon-button icon="av:play-circle-filled"></paper-icon-button></a>
    </div>
    <div id="gameDescription">[[_currentGame.description]]</div>
  </template>

  <script>
    'use strict'

    Polymer({
      is: 'papan-game-page',

      properties: {
        /*
          Subroute
        */
        route: {
          type: Object
        },

        gamelist: {
          type: Array
        },

        /*
          server where the game is hosted
        */
        lobby: {
          type: String
        },

        _currentGame: {
          type: Object,
          notify: true
        },

        /*
          Computed string for the number of players
        */
        _numPlayers: {
          type: String,
          computed: '_numberOfPlayers(localize, _currentGame.json.players.min, _currentGame.json.players.max)'
        },

        _routeData: {
          type: Object
        }
      },

      behaviors: [
        PapanLocalize
      ],

      observers: [
        '_updateGame(_routeData.collection, _routeData.gameid)'
      ],

      _updateGame: function (collection, gameid) {
        if (collection && gameid) {
          var id = collection + '/' + gameid
          var game = this.gamelist.filter(function (d) { return d.name === id })
          if (game[0]) { this._currentGame = game[0].info }
        }
      },

      _numberOfPlayers: function (localize, min, max) {
        if (max < min) return min + ' ' + localize('players')
        else if (min === 1 && max === 1) return '1 ' + localize('player')
        else if (min === max) return min + ' ' + localize('players')
        else return min + ' - ' + max + ' ' + localize('players')
      }
    })
  </script>
</dom-module>
