<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="data/gameinfo.html">
<link rel="import" href="data/localize.html">

<dom-module id="papan-game-page">
  <link rel="import" type="css" href="game.css">
  <template>
    <app-route
      route="{{route}}"
      pattern="/:gameid"
      data="{{_routeData}}">
    </app-route>
    <game-info gameid=[[_routeData.gameid]] gameinfo={{_game}}></game-info>

    <div id="banner">
      <iron-image 
        src="[[_game.banner]]"
        placeholder="pictures/gamebanner.svg"
        preload>
      </iron-image>
      <div id="bannertitle">[[_game.gamename]]</div>
    </div>

    <div id="gameInfos">
      <iron-icon icon="supervisor-account"></iron-icon>[[_numPlayers]]
      <iron-icon icon="device:access-time"></iron-icon>[[_duration]]
      <a href="#/server/{{server}}/lobby/[[_routeData.gameid]]" tabindex="-1"><paper-icon-button icon="av:play-circle-filled"></paper-icon-button></a>
    </div>
    <div id="gameDescription">[[_game.description]]</div>
  </template>

  <script>
    'use strict'

    Polymer({
      is: "papan-game-page",

      properties: {
        /*
          Subroute
        */
        route: {
          type: Object
        },

        /*
          server where the game is hosted
        */
        server: {
          type: String
        },

        /*
          Computed string for the number of players
        */
        _numPlayers: {
          type: String,
          computed: '_numberOfPlayers(localize, _game.minplayers, _game.maxplayers)'
        },

        /*
          Computed string for the duration of the game
        */
        _duration: {
          type: String,
          computed: '_gameDuration(localize, _game.duration)'
        }
      },

      behaviors: [
        PapanLocalize
      ],

      _numberOfPlayers: function(localize, min,max){
        if (max < min) return min + ' ' + localize('players')
        else if (min == 1 && max == 1) return '1 ' + localize('player')
        else if (min == max) return min + ' ' + localize('players')
        else return min + ' - ' + max + ' ' + localize('players');
      },

      _gameDuration: function(localize, duration){
        if (duration == 1) return '1 ' + localize('minute')
        else if (duration < 60) return duration + ' ' + localize('minutes')
        else if (duration == 60) return '1 ' + localize('hour')
        else if (duration < 120) return '1 ' + localize('hour') + (duration - 60) + ' ' + localize('minutes')
        else if (duration % 60 == 0) return (duration / 60) + localize('hours')
        return (duration / 60) + localize('hours') + (duration % 60) + ' ' + localize('minutes')
      }
    })
  </script>
</dom-module>
