<link rel="import" href="../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="data/gameinfo.html">

<dom-module id="papan-game-badge">
  <link rel="import" type="css" href="gamebadge.css">
  <template>
    <game-info gameid=[[gameid]] gameinfo={{_game}}></game-info>

    <paper-card 
      heading="[[_game.gamename]]" 
      image="[[_game.icon]]" 
      placeholder-image="pictures/gameicon.svg" 
      preload-image
      elevation="4">
      <div class="card-actions">
        <a href="#/server/{{server}}/game/[[gameid]]" tabindex="-1"><paper-icon-button icon="icons:info"></paper-icon-button></a>
        <a href="#/server/{{server}}/lobby/[[gameid]]" tabindex="-1"><paper-icon-button icon="av:play-circle-filled"></paper-icon-button></a>
      </div>
    </paper-card>
  </template>

  <script>
    'use strict'

    Polymer({
      is: "papan-game-badge",

      properties: {
        /*
          ID of the game to be displayed
        */
        gameid: {
          type: String
        },
        /*
          server where the game is hosted
        */
        server: {
          type: String
        }
      }
    })
  </script>
</dom-module>
