paper-card {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  transition: all .2s ease-in-out;

  --paper-card-header-image-text: { 
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
  }

  --paper-card-header-image: {
    width: 200px;
    height: 160px;
    background-color: lightgray;
  }

  --iron-image-placeholder: {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

paper-card .card-actions {
  padding: 0;
}

paper-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

paper-button {
  height: 15px;
}

a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
}

a :hover {
  color: #555599;
}