<link rel="import" href="gamebadge.html">
<link rel="import" href="data/localize.html">
<link rel="import" href="data/userinfo.html">

<dom-module id="papan-game-list">
  <link rel="import" type="css" href="gamelist.css">
  <template>
    <template is="dom-if" if="{{user.islogged}}">
      <user-info userid=[[user.username]] userinfo={{_userinfo}}></user-info>
      <div id="user-games-list">
        <template is="dom-repeat" items="[[_userinfo.usergames]]">
          <papan-game-badge gameid=[[item]] server="local"></papan-game-badge>
        </template>
      </div>
    </template>
    <template is="dom-if" if="{{!user.islogged}}">
      You have to login
    </template>
  </template>

  <script>
    'use strict'

    Polymer({
      is: "papan-game-list",

      properties: {
        /*
          user who owns the games
        */
        user: {
          type: Object
        }
      },

      behaviors: [
        PapanLocalize
      ]
    })
  </script>
</dom-module>
