<link rel="import" href="../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="papan-game-badge">
  <link rel="import" type="css" href="gamebadge.css">
  <template>
    <paper-card 
      heading="[[gameinfo.json.name]]" 
      image="[[gameinfo.fullPath]]/[[gameinfo.json.icon]]" 
      placeholder-image="pictures/gameicon.svg" 
      preload-image
      elevation="4">
      <div class="card-actions">
        <a href="#/game/[[gameinfo.id]]" tabindex="-1"><paper-icon-button icon="icons:info"></paper-icon-button></a>
        <paper-icon-button icon="av:play-circle-filled" on-tap="_runGame"></paper-icon-button>
      </div>
    </paper-card>
  </template>

  <script>
    'use strict'

    Polymer({
      is: 'papan-game-badge',

      properties: {
        /*
          name of the game to be displayed
        */
        gameinfo: {
          type: Object
        },

        lobby: {
          type: Object
        }
      },

      _runGame: function () {
        this.lobby.setGame(this.gameinfo)
      }
    })
  </script>
</dom-module>
