<link rel="import" href="gamebadge.html">
<link rel="import" href="data/localize.html">

<dom-module id="papan-game-list">
  <link rel="import" type="css" href="gamelist.css">
  <template>
    <div id="user-games-list">
      <template is="dom-repeat" items="[[gamelist]]">
        <papan-game-badge gameinfo=[[item.info]] lobby="[[lobby]]"></papan-game-badge>
      </template>
    </div>
  </template>

  <script>
    'use strict'

    Polymer({
      is: 'papan-game-list',

      properties: {
        lobby: {
          type: Object
        },

        gamelist: {
          type: Array,
          value: () => [],
          notify: true
        }
      },

      behaviors: [
        PapanLocalize
      ],

      ready: function () {
        global.lobbyInterface.on('games', gamelist => {
          this.gamelist = Object.keys(gamelist).map(function (key) {
            return {
              name: key,
              info: gamelist[key]
            }
          })
        })
      }
    })
  </script>
</dom-module>
