paper-card {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  transition: all .2s ease-in-out;

  --paper-card-header-image: {
    width: 200px;
    height: 160px;
    background-color: lightgray;
  }
}

paper-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
}

a :hover {
  color: #555599;
}