#joinedlobbies{
  width: 50px;
  height: 100%;
  background-color: lightgray;
}

paper-icon-button{
  background-color: royalblue;
  color: white;
  border-radius: 50%;
  margin: 5px;
}

paper-button{
  background-color: gray;
  color: white;
  border-radius: 50%;
  margin: 5px;
  width: 40px;
  min-width: 40px;
  height: 40px;
  text-align: center;
}

a {
  text-decoration: none;
}