<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">

<link rel="import" href="data/localize.html">
<link rel="import" href="chat.html">
<link rel="import" href="gamebadge.html">

<dom-module id="papan-team-slots">
  <link rel="import" type="css" href="lobby.css">
  <template>
    <div class="slots-container">
      <template is="dom-repeat" items="[[slots]]">
        <template is="dom-if" is="item.name">
          <div class="team">
            <div>[[item.name]]</div>
            <papan-team-slots slots="[[item.subteams]]"></papan-team-slots>
          </div>
        </template>
        <template is="dom-if" is="!item.name">
          <template is="dom-repeat" items="[[item]]">
            <div>Slot [[item]]</div>
          </template>
        </template>
      </template>
    </div>
  </template>
  <script>
    'use strict'

    Polymer({
      is: 'papan-team-slots',

      properties: {
        slots: {
          type: Array,
          notify: true
        }
      }
    })
  </script>
</dom-module>


<dom-module id="papan-lobby-view">
  <link rel="import" type="css" href="lobby.css">
  <template>
    <style include="iron-flex iron-flex-alignment"></style>
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    <div class="lobbycontent layout horizontal">
      <div class="layout flex horizontal">
        <iron-pages 
          selected="{{_view}}" 
          attr-for-selected="name" 
          fallback-selection="gamenotselected"
          class="layout flex">
          <div name="gamenotselected">
            <template is="dom-if" if="[[lobby.isOwner]]">
              <template is="dom-repeat" items="[[gamelist]]">
                <papan-game-badge gameinfo=[[item.info]] lobby="[[lobby]]"></papan-game-badge>
              </template>
            </template>
            <template is="dom-if" if="[[!lobby.isOwner]]">
              [[localize('ownerselectinggame')]]
            </template>
          </div>
          <div name="teamselection" class="layout flex horizontal">
            <template is="dom-if" if="!_hasTeams()">
              <div class="layout flex vertical">
                <div>Min players: [[_currentGame.json.players.min]]</div>
                <div>Max players: [[_currentGame.json.players.max]]</div>
                <paper-button raised on-tap="_join">[[localize('joingame')]]</paper-button>
              </div>
            </template>
            <papan-team-slots slots="{{_slots}}"></papan-team-slots>
            <template is="dom-if" if="_hasTeams()">
              <div class="layout flex vertical">
                <template is="dom-repeat" items="[[_currentGame.json.teams]]">
                  <div>[[item.name]]</div>
                  <div>Min cardinality: [[item.card_min]]</div>
                  <div>Max cardinality: [[item.card_max]]</div>
                  <template is="dom-repeat" items="[[item.players]]">
                    <div>Min players: [[item.min]]</div>
                    <div>Max players: >[[item.max]]</div>
                  </template>
                </template>
              </div>
            </template>
            <template is="dom-if" if="[[lobby.isOwner]]">
              <div class="layout center horizontal">
                <paper-button raised on-tap="_start">[[localize('startgame')]]</paper-button>
              </div>
            </template>
          </div>
          <div id="main-view" name="board"></div>
        </iron-pages>
      </div>
      <div class="lobbyinformation">
        <template is="dom-if" if="[[lobby.isOwner]]">
          <paper-input label="Lobby name" value="{{_lobbyname}}"></paper-input>
          <div class="layout horizontal flex">
            <div>Private</div>
            <paper-toggle-button id="togglepublic" on-tap="_togglepublic"></paper-toggle-button>
            <div>Public</div>
          </div>
        </template>
        <template is="dom-if" if="[[!lobby.isOwner]]">
          [[lobby.info.name]]
        </template>
        <div class="memberlist">
          <template is="dom-repeat" items="[[_members]]">
            <div class="memberitem"><a href="#/profile/[[item.id]]">[[item.id]]</a></div>
          </template>
        </div>
      </div>
      <papan-chat user=[[user.username]] lobby=[[lobby]]></papan-chat>
    </div>
  </template>
  <script>
    'use strict'

    Polymer({
      is: 'papan-lobby-view',

      properties: {
        gamelist: {
          type: Array,
          value: () => [],
          notify: true
        },

        lobby: {
          type: Object,
          notify: true
        },

        user: {
          type: Object
        },

        _currentGame: {
          type: Object,
          notify: true
        },

        _lobbyname: {
          type: String,
          notify: true
        },

        _members: {
          type: Array,
          value: () => [{id: 1}, {id: 2}, {id: 32}]
        },

        _slots: {
          type: Array,
          value: () => [],
          notify: true
        },

        _view: {
          type: String,
          notify: true
        }
      },

      behaviors: [
        PapanLocalize
      ],

      observers: [
        '_lobbyNameChanged(_lobbyname)'
      ],

      ready: function () {
        this._lobbyname = this.lobby.info.name
        this.lobby.on('update', info => {
          // todo: check the 3rd state
          if (info.info.gameInfo) {
            // if game started
            // else
            // create team slots
            this.currentGame = info.info.gameInfo
            // FIX: currently there is no players_info in the GameInfo json
            this._slots = this._generateTeams(this.currentGame.json.players_info)
            this._view = 'teamselection'
          } else {
            this._view = 'gamenotselected'
          }
        })
      },

      _generateTeams: function (playerinfo) {
        if (playerinfo.info.teams) {
          return playerinfo.info.teams.teams.map((item, index) => Array(item.card_min).fill({
            name: item.name,
            subteams: this._generateTeams(item.players_info)
          }))
        } else {
          return Array(playerinfo.info.players.min).fill(null)
        }
      },

      _hasTeams: function () {
        return this.currentGame && this.currentGame.json.players_info.teams
      },

      _lobbyNameChanged: function (name) {
        this.lobby.setName(name)
      },

      _togglepublic: function (event) {
        this.lobby.setPublic(event.target.checked)
      }
    })
  </script>
</dom-module>

<dom-module id="papan-lobby">
  <link rel="import" type="css" href="lobby.css">
  <script src="../src/common/utils.js"></script>

  <template>
    <app-route
      route="{{route}}"
      pattern="/:lobbyid"
      data="{{_routeData}}">
    </app-route>
    <div id="lobbieslist">
      <iron-pages
        selected="{{_routeData.lobbyid}}"
        attr-for-selected="id">
        <template is="dom-repeat" items="[[joinedlobbies]]">
          <div id="[[item.info.id]]" class="lobby">
            <papan-lobby-view
              gamelist=[[gamelist]]
              lobby=[[item]]
              user=[[user]]
              language=[[language]]>
            </papan-lobby-view>
          </div>
        </template>
      </iron-pages>
    </div>
  </template>
  
  <script>
    'use strict'

    Polymer({
      is: 'papan-lobby',

      properties: {
        joinedlobbies: {
          type: Array
        },

        /*
          User connected to the lobby
        */
        user: {
          type: Object
        },

        route: {
          type: Object
        },

        gamelist: {
          type: Array,
          value: () => [],
          notify: true
        },

        _routeData: {
          type: Object
        }
      },

      behaviors: [
        PapanLocalize
      ],

      ready: function () {
        global.lobbyInterface.on('games', gamelist => {
          this.gamelist = Object.keys(gamelist).map(function (key) {
            return {
              name: key,
              info: gamelist[key]
            }
          })
        })
      }/*,
      _start: function () {
        if (global.PapanUtils.isElectron()) {
          const electron = require('electron')
          const ipc = electron.ipcRenderer
          ipc.once('asynchronous-reply', (event, game) => {
            const renderer = game.gamePath + '/' + game.gameData.webcomponent
            let link = document.createElement('link')
            link.setAttribute('rel', 'import')
            link.setAttribute('href', renderer)
            link.onload = () => {
              let view = document.createElement('papan-main-board')
              view.setAttribute('id', 'main-board')
              view.addEventListener('view-ready', () => {
                ipc.send('asynchronous-message', { type: 'refreshPublicScene' })
              })
              view.addEventListener('action', (event) => {
                ipc.send('asynchronous-message', { type: 'action', data: event.detail })
              })
              this.$['main-view'].appendChild(view)
            }
            document.body.appendChild(link)
          })
          ipc.send('asynchronous-message', { type: 'startGame' })
          ipc.on('publicSceneDelta', (event, { diff }) => {
            this.$['main-view'].children[0].applyPublicDelta(diff)
          })
        } else {
          window.alert('Browser support not implemented yet')
        }
      } */
    })
  </script>
</dom-module>
