<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">

<link rel="import" href="data/gameinfo.html">
<link rel="import" href="data/localize.html">
<link rel="import" href="chat.html">
<link rel="import" href="gamelist.html">

<dom-module id="papan-lobby">
  <link rel="import" type="css" href="lobby.css">
  <script src="../src/common/utils.js"></script>

  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    <app-route
      route="{{route}}"
      pattern="/:lobbyid"
      data="{{_routeData}}">
    </app-route>
    <!--game-info gameid=[[_routeData.gameid]] gameinfo={{_game}}></game-info-->

    <div id="page" class="layout vertical">
      <div>[[_routeData.lobbyid]]</div>
      <!--div id="banner">
        <iron-image 
          src="[[_game.banner]]"
          placeholder="pictures/gamebanner.svg"
          preload>
        </iron-image>
        <div id="bannertitle">[[_game.gamename]]</div>
      </div-->
      <div id="lobbycontent" class="layout flex horizontal">
        <div class="layout flex vertical">
          <!--paper-tabs 
            id="tabs" 
            selected="{{_view}}" 
            attr-for-selected="name" 
            hide-scroll-buttons
            fit-container 
            scrollable>
            <paper-tab name="lobby">[[localize('lobby')]]</paper-tab>
            <paper-tab name="board" id="boardtab" disabled>[[localize('board')]]</paper-tab>
          </paper-tabs-->

          <iron-pages 
            selected="{{_view}}" 
            attr-for-selected="name" 
            fallback-selection="lobby"
            class="layout flex">
            <papan-game-list name="gamelist" user="tom" language="{{language}}"></papan-game-list>
            <div name="lobby">
              <!--[[localize('connectedtitle')]]-->
              <!--ul>
                <li><a href="#/profile/foo">foo</a></li>
                <li><a href="#/profile/bar">bar</a></li>
              </ul-->
              <paper-button raised on-tap="_start">[[localize('startgame')]]</paper-button>
            </div>
            <div id="main-view" name="board"></div>
          </iron-pages>
        </div>
        <papan-chat user=[[user.username]]></papan-chat>
      </div>
    </div>
  </template>

  <style include="iron-flex iron-flex-alignment"></style>

  <script>
    'use strict'

    Polymer({
      is: "papan-lobby",

      properties: {
        /*
          User connected to the lobby
        */
        user: {
          type: Object
        }
      },

      behaviors: [
        PapanLocalize
      ],

      _start: function() {
        if (PapanUtils.isElectron()) {
          const electron = require('electron')
          const ipc = electron.ipcRenderer
          ipc.once('asynchronous-reply', (event, game) => {
            const renderer = game.gamePath + '/' + game.gameData.webcomponent
            let link = document.createElement('link')
            link.setAttribute('rel', 'import')
            link.setAttribute('href', renderer)
            link.onload = () => {
              let view = document.createElement('papan-main-board')
              view.setAttribute('id', 'main-board')
              view.addEventListener('view-ready', () => {
                ipc.send('asynchronous-message', { type: 'refreshPublicScene' })
              })
              view.addEventListener('action', (event) => {
                ipc.send('asynchronous-message', { type: 'action', data: event.detail })
              })
              this.$['main-view'].appendChild(view)
            }
            document.body.appendChild(link)
          })
          ipc.send('asynchronous-message', { type: 'startGame' })
          ipc.on('publicSceneDelta', (event, { diff }) => {
            this.$['main-view'].children[0].applyPublicDelta(diff)
          })
        } else {
          alert("Browser support not implemented yet")
        }
        this._view = 'board'
        //this.$.boardtab.disabled = false
      }
    })
  </script>
</dom-module>
