<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="data/localize.html">
<link rel="import" href="chat.html">
<link rel="import" href="gamelist.html">

<dom-module id="papan-lobby">
  <link rel="import" type="css" href="lobby.css">
  <script src="../src/common/utils.js"></script>

  <template>
    <style include="iron-flex iron-flex-alignment"></style>
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    <app-route
      route="{{route}}"
      pattern="/:lobbyid"
      data="{{_routeData}}">
    </app-route>

    <div id="page" class="layout vertical">
      <div id="lobbycontent" class="layout flex horizontal">
        <div class="layout flex vertical">
          <iron-pages 
            selected="{{_view}}" 
            attr-for-selected="name" 
            fallback-selection="gamelist"
            class="layout flex">
            <papan-game-list 
              name="gamelist" 
              user="tom" 
              language="{{language}}"
              server="[[serverinfo]]"
              lobby=[[lobby]]
              gamelist="{{gamelist}}">
            </papan-game-list>
            <div name="lobby" class="layout flex horizontal">
              <template is="dom-if" if="!_hasTeams()">
                <div class="layout flex vertical">
                  <div>Min players: [[currentGame.json.players.min]]</div>
                  <div>Max players: [[currentGame.json.players.max]]</div>
                </div>
              </template>
              <template is="dom-if" if="_hasTeams()">
                <div class="layout flex vertical">
                  <template is="dom-repeat" items="[[currentGame.json.teams]]">
                    <div>[[item.name]]</div>
                    <div>Min cardinality: [[item.card_min]]</div>
                    <div>Max cardinality: [[item.card_max]]</div>
                    <template is="dom-repeat" items="[[item.players]]">
                      <div>Min players: [[item.min]]</div>
                      <div>Max players: >[[item.max]]</div>
                    </template>
                  </template>
                </div>
              </template>
              <div id="ownerview">
                <paper-button raised on-tap="_start">[[localize('startgame')]]</paper-button>
              </div>
              <div id="joinerview">
                <paper-button raised on-tap="_join">[[localize('joingame')]]</paper-button>
              </div>
            </div>
            <div id="main-view" name="board"></div>
          </iron-pages>
        </div>
      <div id="memberlist">
          <template is="dom-repeat" items="[[members]]">
            <div class="memberitem"><a href="#/profile/[[item.id]]">[[item.id]]</a></div>
          </template>
        </div>
        <papan-chat user=[[user.username]] lobby=[[lobby]]></papan-chat>
      </div>
    </div>
  </template>
  
  <script>
    'use strict'

    Polymer({
      is: 'papan-lobby',

      properties: {
        currentGame: {
          type: Object,
          notify: true
        },
        /*
          User connected to the lobby
        */
        user: {
          type: Object
        },

        route: {
          type: Object
        },

        gamelist: {
          type: Array,
          value: () => [],
          notify: true
        },

        lobby: {
          type: Object
        },

        serverinfo: {
          type: Object
        },

        members: {
          type: Array,
          value: () => [{id: 1}, {id: 2}, {id: 32}]
        },

        _routeData: {
          type: Object
        },

        _view: {
          type: String
        }
      },

      observers: [
        '_lobbyChanged(lobby)'
      ],

      behaviors: [
        PapanLocalize
      ],

      _hasTeams: function () {
        return this.currentGame && this.currentGame.json.teams
      },

      _lobbyChanged: function () {
        if (this.lobby.isOwner) {
          this.$.ownerview.style.display = 'block'
          this.$.joinerview.style.display = 'none'
        } else {
          this.$.ownerview.style.display = 'none'
          this.$.joinerview.style.display = 'block'
        }
        this.lobby.on('update', info => {
          this._view = 'lobby'
          this.currentGame = info.info.gameInfo
        })
      },

      _start: function () {
        if (global.PapanUtils.isElectron()) {
          const electron = require('electron')
          const ipc = electron.ipcRenderer
          ipc.once('asynchronous-reply', (event, game) => {
            const renderer = game.gamePath + '/' + game.gameData.webcomponent
            let link = document.createElement('link')
            link.setAttribute('rel', 'import')
            link.setAttribute('href', renderer)
            link.onload = () => {
              let view = document.createElement('papan-main-board')
              view.setAttribute('id', 'main-board')
              view.addEventListener('view-ready', () => {
                ipc.send('asynchronous-message', { type: 'refreshPublicScene' })
              })
              view.addEventListener('action', (event) => {
                ipc.send('asynchronous-message', { type: 'action', data: event.detail })
              })
              this.$['main-view'].appendChild(view)
            }
            document.body.appendChild(link)
          })
          ipc.send('asynchronous-message', { type: 'startGame' })
          ipc.on('publicSceneDelta', (event, { diff }) => {
            this.$['main-view'].children[0].applyPublicDelta(diff)
          })
        } else {
          window.alert('Browser support not implemented yet')
        }
      }
    })
  </script>
</dom-module>
