#banner {
  background-color: lightgrey;
  height: 130px;
  display: block;
}

#banner iron-image {
  display: block;
  height: 130px;
  width: 100%;
  --iron-image-width: 100%;
}

#bannertitle {
  display: block;
  position: absolute;
  top: 144px;
  height: 40px;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20pt;
  background-color: rgba(255, 255, 255, 0.7)
}

#tabs {
  background-color: royalblue;
  color: white;
}

#main-view {
  background-color:#cccccc;
}

papan-chat {
  width: 300px;
  height: 100%;
}

.lobby {
  height: calc(100vh - 64px);
}

.lobbycontent {
  height: 100%;
}

#ownerview #joinerview{
  display: none
}

.lobbyinformation {
  width: 200px;
  height: 100%;
  border-left: 1px solid lightgrey;
}

.memberlist {
  border-top: 1px solid lightgrey;
  padding-top: 5px;
  margin-top: 5px;
}