<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<link rel="import" href="data/localize.html">
<link rel="import" href="data/user.html">

<link rel="import" href="clientsettings.html">
<link rel="import" href="drawermenu.html">
<link rel="import" href="joinedlobbies.html">
<link rel="import" href="lobby.html">
<link rel="import" href="server.html">
<link rel="import" href="serverlist.html">
<link rel="import" href="startupscreen.html">

<dom-module id="papan-main-window">
  <link rel="import" type="css" href="mainwindow.css">

  <template>
      <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
      <app-location
      use-hash-as-path
      route="{{_route}}">
    </app-location>
    <!--papan-user-data
      user="{{_user}}">
    </papan-user-data-->
    <app-route
      route="{{_route}}"
      pattern="/:view"
      data="{{_routeData}}"
      tail="{{_pagesRoute}}">
    </app-route>

    <app-header reveals>
      <app-toolbar>
        <paper-icon-button icon="menu" on-tap="_toggleMenu"></paper-icon-button>
        <div main-title>[[_title]]</div>
        <paper-icon-button icon="bug-report" on-tap="_toggleDebug"></paper-icon-button>
        <a href="https://github.com/grumpycoders/papan" style="display: none;" id="github-link">
          <paper-icon-button icon="link"></paper-icon-button>
        </a>
        <template is="dom-if" if="{{_loggedin(userinfo)}}">
          <div>
            <a href="#/server/profile/[[userinfo.id]]">
              [[_user.username]]
              <iron-icon icon="account-circle"></iron-icon>
            </a>
            
          </div>
          <paper-button on-tap="_signout">
            [[localize('signout')]]
          </paper-button>
        </template>
        <!--template is="dom-if" if="{{!user.islogged}}">
          <div id="login">
            <paper-button on-tap="_showlogin">
              [[localize('loginsignin')]]
            </paper-button>
          </div>
        </template>
        <div id="fakelogin">
          <paper-button on-tap="_showuserdata">
            DBG:USEREDIT
          </paper-button>
        </div-->
      </app-toolbar>
    </app-header>

    <div id="mainpage" class="layout horizontal">
      <template is="dom-if" if="{{_loggedin(userinfo)}}">
        <papan-joined-lobbies 
          lobbylist={{_joinedlobbylist}} 
          route="{{_route}}" 
          currentlobby={{_currentlobby}}></papan-joined-lobbies>
      </template>
      <papan-drawer-menu
        id="appdrawer"
        view="{{_routeData.view}}"
        language="{{language}}"
        server={{_server}}>
      </papan-drawer-menu>

      <iron-pages 
        id="content" 
        selected="[[_routeData.view]]"
        attr-for-selected="id"
        fallback-selection="startupscreen"
        fallback="error"
        class="flex">
        <papan-startup-screen 
          id="startupscreen"
          language="{{language}}">
        </papan-startup-screen>
        <papan-client-settings
          id="clientsettings"
          language="{{language}}">
        </papan-client-settings>
        <papan-lobby
          id="lobby"
          route="{{_pagesRoute}}"
          language="{{language}}"
          currentlobby={{_currentlobby}}
          user={{userinfo}}
        >
        </papan-lobby>
        <papan-server-page
          id="server"
          route="{{_pagesRoute}}"
          language="{{language}}"
          server={{_server}}
          serverinfo={{_serverinfo}}
          user={{userinfo}}>
        </papan-server-page>
        <papan-server-list
          id="serverlist"
          language="{{language}}"
          route="{{_route}}"
          userinfo="{{userinfo}}">
        </papan-server-list>
        <div id="error">404</div>
      </iron-pages>
    </div>

    <paper-dialog id="logindialog" modal>
      <paper-input name="username" label="[[localize('username')]]" value=""></paper-input>
      <paper-input name="password" label="[[localize('password')]]" value=""></paper-input>
      <paper-button dialog-confirm autofocus>[[localize('connect')]]</paper-button>
    </paper-dialog>

    <paper-dialog id="dbglogindata" modal>
      <div>DBG:USEREDIT</div>
      <paper-input name="username" label="[[localize('username')]]" value="{{_user.username}}"></paper-input>
      <paper-checkbox name="logged" checked="{{_user.islogged}}">[[localize('logged')]]</paper-checkbox>
      <paper-button dialog-confirm autofocus>[[localize('close')]]</paper-button>
    </paper-dialog>
  </template>

  <script>
    'use strict'

    Polymer({
      is: "papan-main-window",

      properties: {
        userinfo: {
          type: Object
        },

        _title: {
          type: String
        },

        _serverinfo: {
          type: Object
        }
      },

      observers: [
        '_updateServer(_serverinfo.servername)'
      ],

      behaviors: [
        PapanLocalize
      ],

      ready: function() {
        if (PapanUtils.isElectron()) {
          this._toggleDebug = () => {
            const electron = require('electron')
            electron.remote.getCurrentWindow().toggleDevTools()
          }
        } else {
          let githublink = this.$['github-link'].style.display = 'inline'
        }
      },

      _toggleMenu: function() {
        this.$.appdrawer.toggle()
      },

      _showuserdata: function() {
        this.$.dbglogindata.open()
      },

      _showlogin: function() {
        this.$.logindialog.open()
      },

      _signout: function() {
        _user.islogged = false
      },

      _updateServer: function(server) {
        if (!server || server == '')
          this._title = 'Papan'
        else
          this._title = server
      },

      _loggedin: function(userinfo) {
        return !!userinfo
      }
    })

    if (PapanUtils.isElectron()) {
      require('devtron').install()
    }
  </script>
</dom-module>
