<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="data/localize.html">
<link rel="import" href="data/user.html">

<link rel="import" href="drawermenu.html">
<link rel="import" href="game.html">
<link rel="import" href="profile.html">
<link rel="import" href="lobby.html">
<link rel="import" href="friendlist.html">
<link rel="import" href="gamelist.html">
<link rel="import" href="server.html">
<link rel="import" href="serverlist.html">

<dom-module id="papan-main-window">
  <link rel="import" type="css" href="mainwindow.css">

  <template>
    <app-location
      use-hash-as-path
      route="{{route}}">
    </app-location>
    <papan-user-data
      user="{{user}}">
    </papan-user-data>
    <app-route
      route="{{route}}"
      pattern="/:view"
      data="{{routeData}}"
      tail="{{pagesRoute}}">
    </app-route>

    <app-header reveals>
      <app-toolbar>
        <paper-icon-button icon="menu" onclick="appdrawer.toggle()"></paper-icon-button>
        <div main-title>Papan</div>
        <paper-icon-button icon="bug-report" on-tap="toggleDebug"></paper-icon-button>
        <a href="https://github.com/grumpycoders/papan" style="display: none;" id="github-link">
          <paper-icon-button icon="link"></paper-icon-button>
        </a>
        <template is="dom-if" if="{{user.islogged}}">
          <div>
            <a href="#/profile/{{user.username}}">[[user.username]]</a>
            <iron-icon icon="account-circle"></iron-icon>
          </div>
          <paper-button on-tap="signout">
            [[localize('signout')]]
          </paper-button>
        </template>
        <template is="dom-if" if="{{!user.islogged}}">
          <div id="login">
            <paper-button on-tap="showlogin">
              [[localize('loginsignin')]]
            </paper-button>
          </div>
        </template>
        <div id="fakelogin">
          <paper-button on-tap="showuserdata">
            DBG:USEREDIT
          </paper-button>
        </div>
      </app-toolbar>
    </app-header>
    <papan-drawer-menu
      id="appdrawer"
      view="{{routeData.view}}"
      user="{{user}}"
      language="{{language}}">
    </papan-drawer-menu>

    <iron-pages 
      id="content" 
      selected="[[routeData.view]]"
      attr-for-selected="id"
      fallback-selection="games"
      fallback="error">
      <papan-user-profile 
        id="profile"
        route="{{pagesRoute}}"
        language="{{language}}">
      </papan-user-profile>
      <papan-game-page 
        id="game"
        route="{{pagesRoute}}"
        language="{{language}}">
      </papan-game-page>
      <papan-friend-list
         id="friends"
         user={{user}}
         language="{{language}}">
      </papan-friend-list>
      <papan-game-list
         id="games"
         user={{user}}
         language="{{language}}">
      </papan-game-list>
      <papan-server-list
        id="serverlist"
        language="{{language}}">
      </papan-server-list>
      <papan-server-page
        id="server"
        route="{{pagesRoute}}"
        language="{{language}}">
      </papan-server-page>
      <papan-lobby
        id="lobby"
        route="{{pagesRoute}}"
        user={{user}}
        language="{{language}}">
      </papan-lobby>
      <div id="error">404</div>
    </iron-pages>

    <paper-dialog id="dbglogindata" modal>
      <div>DBG:USEREDIT</div>
      <paper-input name="username" label="[[localize('username')]]" value="{{user.username}}"></paper-input>
      <paper-checkbox name="logged" checked="{{user.islogged}}">[[localize('logged')]]</paper-checkbox>
      <paper-button dialog-confirm autofocus>[[localize('close')]]</paper-button>
    </paper-dialog>
  </template>

  <script>
    'use strict'

    Polymer({
      is: "papan-main-window",

      toggleDebug: function() {

      },

      behaviors: [
        PapanLocalize
      ],

      attached: function() {
        if (PapanUtils.isElectron()) {
          this.toggleDebug = () => {
            const electron = require('electron')
            electron.remote.getCurrentWindow().toggleDevTools()
          }
        } else {
          document.getElementById('github-link').style.display = 'inline'
        }
      },

      showuserdata: function() {
        this.$.dbglogindata.open()
      },

      showlogin: function() {

      },

      signout: function() {
        
      }
    })

    if (PapanUtils.isElectron()) {
      require('./src/client/renderer.js')
      require('devtron').install()
    }
  </script>
</dom-module>
