<link rel="import" href="../bower_components/app-route/app-location.html"
<link rel="import" href="../bower_components/app-route/app-route.html"
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="drawermenu.html">
<link rel="import" href="profile.html">
<link rel="import" href="game.html">

<dom-module id="papan-main-window">
  <link rel="import" type="css" href="mainwindow.css">

  <template>
    <app-location
      use-hash-as-path
      route="{{route}}">
    </app-location>
    <app-route
      route="{{route}}"
      pattern="/"
      tail="{{pagesRoute}}"
      active="{{pageActive}}">
    </app-route>

    <app-header reveals>
      <app-toolbar>
        <paper-icon-button icon="menu" onclick="appdrawer.toggle()"></paper-icon-button>
        <div main-title>Papan</div>
        <paper-icon-button icon="bug-report" onclick="toggleDebug()"></paper-icon-button>
        <a href="https://github.com/grumpycoders.papan" style="display: none;" id="github-link">
            <paper-icon-button icon="link"></paper-icon-button>
        </a>
        <template is="dom-if" if="{{user.islogged}}">
          <div id="username">{{user.username}}</div>
        </template>
        <template is="dom-if" if="!{{user.islogged}}">
          <div id="login">Log In / Sign In</div>
        </template>
      </app-toolbar>
    </app-header>
    <papan-drawer-menu
      id="appdrawer"
      menu-selected="{{pageSelected}}"
      route="{{route}}">
    </papan-drawer-menu>

    <iron-pages id="content" selected="{{route.path}}" attr-for-selected="name">
      <section name="profile"><papan-user-profile id="profile-view" user="{{user}}"></papan-user-profile></section>
      <section name="game"><papan-game-page></papan-game-page></section>
      <div name="friends" id="games">List of friends</div>
      <div name="games" id="games">List of local games</div>
      <div name="servers" id="servers">List of servers</div>
      <div name="main" id="main-view"></div>
    </iron-pages>
  </template>

  <script>
    Polymer({
      is: "papan-main-window",

      properties: {
          user: {
            username: String,
            islogged: Boolean,
            isadmin: Boolean,
            picture: String
          }
      }
    })
  </script>
</dom-module>
