<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="papan-main-window">
  <template>
    <paper-icon-button icon="launch" on-tap="_connectToLocalLobby"></paper-icon-button>
    <div>[[_status]]</div>
  </template>

  <script>
    'use strict'

    Polymer({
      is: "papan-main-window",

      ready() {
        channel.send('GetLobbyConnectionStatus')
        channel.on('LobbyConnectionStatus', data => {
          this._status = data.status
        })
      },

      _connectToLocalLobby: function() {
        channel.send('ConnectToLobby', { connectLocal: true })
      }
    })

    if (PapanUtils.isElectron()) {
      require('./src/client/renderer.js')
      require('devtron').install()
    }

  </script>
</dom-module>
