<dom-module id="papan-user-profile">
  <template>
    <div class="user-info">
      <img src$="[[picture]]"/>
      <div id="nickname">[[username]]</div>
    </div>

    <div id="user-games-list">
      <div class="category">Games</div>
      <template is="dom-repeat" items="{{games}}">
        <paper-card heading="{{item.name}}" image="{{item.picture}}" elevation="4" on-tap="showg" game="{{item.name}}">
        </paper-card>
      </template>
    </div>

    <div id="user-achievements-list">
      <div class = "category">Achievements</div>
      <template is="dom-repeat" items="{{achievements}}">
      <div class="user-achievement">
        <div class="pic">{{item.picture}}</div>{{item.name}}
      </div>
      </template>
    </div>
  </template>

  <style>
    paper-card {
      width: 200px;
      height: 200px;
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      transition: all .2s ease-in-out;

      --paper-card-header-image: {
        width: 200px;
        height: 150px;
        background-color: lightgray;
      }
    }

    paper-card:hover { 
      transform: scale(1.1);
      cursor: pointer;
    }

    .gameName{
      margin-left: 10px;
      margin-top: 10px;
    }

    .user-achievement{
      display: inline-block;
      padding: 0 20px;
      height: 40px;
      font-size: 16px;
      line-height: 40px;
      border-radius: 20px;
      background-color: lightgrey;
      margin-left: 10px;
    }

    .user-achievement .pic {
      float: left;
      margin: 0 10px 0 -20px;
      text-align: center;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #eebb00;
      z-index: 10;
    }

    .user-info {
      width: auto;
      height: 250px;
    }

    .user-info #nickname{
      margin-top: 10px;
      margin-left: 10px;
      font-size: 20pt;
    }

    .user-info img {
      margin-top: 10px;
      margin-left: 10px;
      width: 200px;
      height: 200px;
      background-color: lightgray;
    }

    .category {
      font-size: 20pt;
      border-bottom: 1px solid lightgrey;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 5px;
    }
  </style>

  <script>
    Polymer({
      is: "papan-user-profile",

      properties: {
          username: String,
          picture: String
      },

      ready: function() {
        this.games = [
          {id: 'chess', name: 'Chess', picture: 'chess.png'}, 
          {id: 'tictactoe', name: 'Tic Tac Toe', picture: 'tictactoe.png'}, 
          {id: 'falken', name: 'Falken\'s Maze', picture: 'falken.png'}, 
          {id: 'poker', name: 'Poker', picture: 'poker.png'}, 
          ]

       this.achievements = [
          { name: 'Gamer', picture: '⚄'}, 
          { name: 'Master of nuggets', picture: '♨︎'},
          { name: 'Killed em\' all', picture: '⚔'},
          { name: 'Ace of Spades', picture: '♠︎'},
        ]
      },

      showg: function(e){
        var game = e.model.get('item.name')
        this.fire('gameclicked', { name: game })
      },
    })
  </script>
</dom-module>
