<link rel="import" href="../bower_components/app-route/app-route.html">

<link rel="import" href="gamebadge.html">
<link rel="import" href="achievementbadge.html">
<link rel="import" href="data/localize.html">
<link rel="import" href="data/userinfo.html">

<dom-module id="papan-user-profile">
  <link rel="import" type="css" href="profile.css">
  <template>
    <app-route
      route="{{route}}"
      pattern="/:userid"
      data="{{routeData}}">
    </app-route>
    <user-info userid={{routeData.userid}} userinfo={{user}}></user-info>

    <div class="user-info">
      <img src$="[[user.picture]]"/>
      <div id="nickname">{{user.username}}</div>
    </div>

    <div id="user-games-list">
      <div class="category">[[localize('games')]]</div>
      <template is="dom-repeat" items="[[user.usergames]]">
        <papan-game-badge gameid=[[item]]></papan-game-badge>
      </template>
    </div>

    <div id="user-achievements-list">
      <div class = "category">[[localize('achievements')]]</div>
      <template is="dom-repeat" items="[[user.userachievements]]">
        <papan-achievement-badge achievementid=[[item]]></papan-achievement-badge>
      </template>
    </div>
  </template>

  <script>
    'use strict'

    Polymer({
      is: "papan-user-profile",

      behaviors: [
        PapanLocalize
      ]
    })
  </script>
</dom-module>
