.server {
  width: 90%;
  background-color: lightblue;
  font-size: 15pt;
  margin: 10px;
  padding:10px;
  height: 20px;
}

a {
  color: black;
  text-decoration: none;
}

a :hover {
  color: #555599;
}

paper-input {
  --paper-input-container: {
    padding: 0;
  };
}

paper-icon-button {
  height: 22px;
  width: 22px;
  padding: 0;
}

.spaced {
  padding-right: 5px;
}