<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="friendlist.html">
<link rel="import" href="game.html">
<link rel="import" href="gamelist.html">
<link rel="import" href="lobby.html">
<link rel="import" href="profile.html">
<link rel="import" href="data/localize.html">
<link rel="import" href="data/serverinfo.html">

<dom-module id="papan-server-page">
  <link rel="import" type="css" href="server.css">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    <app-route
      route="{{route}}"
      pattern="/:view"
      data="{{_routeData}}"
      tail="{{_subRoute}}">
    </app-route>
    <server-info serverid=[[_routeData.serverid]] serverinfo={{serverinfo}}></server-info>

    <iron-pages
      id="servercontent" 
      selected="[[_routeData.view]]"
      attr-for-selected="viewname"
      fallback-selection="home">
      <div viewname="home">
        <div class="layout horizontal end">
          <iron-icon id="publicicon" icon="lock-outline" slot="prefix" class="spaced"></iron-icon>
          <paper-toggle-button checked="{{newlobbypublic}}" on-change="_togglepublic" class="spaced"></paper-toggle-button>
          <paper-input label="[[localize('name')]]" value="{{newlobbyname}}" class="spaced flex">
            <iron-icon icon="language" slot="prefix"></iron-icon>
          </paper-input>
          <paper-button raised on-tap="_createlobby">[[localize('add')]]</paper-button>
        </div>
        <template is="dom-repeat" items="[[_lobbylist]]">
          <div class="lobby layout horizontal end">
            <div class="flex">Lobby #[[item.id]]</div>
            <paper-icon-button icon="send" title="[[localize('join')]]" lobbyid="[[item.id]]" on-tap="_joinLobby"></paper-icon-button>
          </div>
        </template>
      </div>
      <papan-friend-list
         viewname="friends"
         user={{user}}
         language="{{language}}">
      </papan-friend-list>
      <papan-game-page 
        viewname="game"
        route="{{_subRoute}}"
        language="{{language}}">
      </papan-game-page>
      <papan-game-list
         viewname="games"
         user={{user}}
         language="{{language}}">
      </papan-game-list>
      <papan-user-profile 
        viewname="profile"
        route="{{_subRoute}}"
        language="{{language}}">
      </papan-user-profile>
    </iron-pages>
  </template>

  <script>
    'use strict'

    Polymer({
      is: "papan-server-page",

      properties: {
        /*
          Subroute
        */
        route: {
          type: Object
        },
        
        /*
          server where the game is hosted
        */
        server: {
          type: String,
          value: 'local',
          notify: true
        },

        /*
          server name where the game is hosted
        */
        serverinfo: {
          type: Object,
          notify: true
        },

        /*
          User connected
        */
        user: {
          type: Object
        },

        /*
          Each item is of type LobbyInfo:
            string id
            string name
            User owner
            bool public
            repeated User members
        */
        _lobbylist: {
          type: Array,
            value: function() {
              return [];
            }
        }
      },

      ready: function() {
        lobbyInterface.on('publicLobbyAdd', lobbyinfo => {
          this.push('_lobbylist', lobbyinfo)
        })
        lobbyInterface.on('publicLobbyUpdate', lobbyinfo => {
          for (var i in this._lobbylist) {
            if (this._lobbylist[i].id == lobbyinfo.id) {
              this._lobbylist[i] = lobbyinfo;
                break;
            }
          }
        })
        lobbyInterface.on('publicLobbyRemove', lobbyinfo => {
          lobby = this._lobbylist.map(function(e) { return e.id; }).indexOf(lobbyinfo.id)
          this.splice('_lobbylist', lobby, 1)
        })
        lobbyInterface.startWatchingLobbies()
      },

      _createlobby: function() {
        lobbyInterface.createLobby()
      },

      _joinLobby: function(event) {
        this.set('route.path', "/lobby/" + event.target.lobbyid)
      },

      observers: [
        '_updateServer(_routeData.serverid)'
      ],

      behaviors: [
        PapanLocalize
      ],

      _updateServer: function(serverid) {
          this.server = serverid
      }
    })
  </script>
</dom-module>
