#servertitle {
  font-size: 20pt;
  margin-top: 10px;
  margin-left: 10px;
}

.category {
  font-size: 20pt;
  border-bottom: 1px solid lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

a {
  color: black;
  text-decoration: none;
}
