<link rel="import" href="data/serverinfo.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="data/localize.html">

<dom-module id="papan-server-list">
  <link rel="import" type="css" href="serverlist.css">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    <app-localstorage-document key="serverlist" data="{{_serverlist}}"></app-localstorage-document>
    <server-info serverlist={{_serverlistold}}></server-info>
    <div id="server-list">
      <template is="dom-repeat" items="[[_serverlistold]]">
        <a href="#/server/[[item.id]]/home" tabindex="-1"><div class="server">[[item.name]]</div></a>
      </template>
    </div>
    <div id="server-list2">
      <template is="dom-repeat" items="{{_serverlist}}">
        <div class="server layout horizontal end">
          <div class="flex">[[item.name]]</div>
          <template is="dom-if" if="[[item.ssl]]">
              <iron-icon icon="lock-outline" class="spaced"></iron-icon>
          </template>
          <template is="dom-if" if="[[!item.ssl]]">
              <iron-icon icon="lock-open" class="spaced"></iron-icon>
          </template>
          <paper-icon-button raised icon="send" serveruurl="[[item.url]]" serverport="[[item.port]]" serverssl="[[item.ssl]]" on-tap="_joinServer"></paper-button>
        </div>
      </template>  
    </div>
    <div class="layout horizontal end">
      <iron-icon id="sslicon" icon="lock-outline" slot="prefix" class="spaced"></iron-icon>
      <paper-toggle-button checked="{{newserverssl}}" on-change="_toggleSSL" class="spaced"></paper-toggle-button>
      <paper-input label="[[localize('address')]]" value="{{newserveraddress}}" class="spaced flex">
        <iron-icon icon="language" slot="prefix"></iron-icon>
      </paper-input>
      <paper-button raised on-tap="_addserver">[[localize('add')]]</paper-button>
    </div>
  </template>

  <script>
    'use strict'

    Polymer({
      is: "papan-server-list",

      properties: {
        _serverlist : {
          type: Array,
          notify: true,
          value: []
        },
        newserverssl : {
          type: Boolean,
          value: true
        }
      },
      ready: function() {
        //lobbyInterface.on('connected', function(…){…})
      },

      _addserver: function() {
        this.push('_serverlist', { id: 0, name: this.newserveraddress, url: this.newserveraddress, port: 9999, ssl: this.newserverssl });
        console.log(this._serverlist)
        this.newserveraddress = ""
      },

      _joinServer: function(event) {
        lobbyInterface.connectToLobbyServer({ connectLocal: true, lobbyServer: event.target.serveruurl, lobbyServerPort: event.target.serverport, useLocalCA: !event.target.serverssl })
      },

      _toggleSSL: function() {
        if (this.newserverssl)
          this.$.sslicon.icon = "lock-outline"
        else
          this.$.sslicon.icon = "lock-open"
      },

      behaviors: [
        PapanLocalize
      ]
    })
  </script>
</dom-module>


