<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="data/userinfo.html">

<dom-module id="papan-user-badge">
  <link rel="import" type="css" href="userbadge.css">
  <template>
    <user-info userid={{userid}} userinfo={{userinfo}}></user-info>

    <paper-card 
      heading="[[userinfo.username]]" 
      image="[[userinfo.picture]]" 
      placeholder-image="pictures/userpicture.svg" 
      preload-image
      elevation="4">
      <div class="card-actions">
        <a href="#/profile/[[userid]]" tabindex="-1"><paper-icon-button icon="icons:info"></paper-icon-button></a>
      </div>
    </paper-card>
  </template>

  <script>
    'use strict'

    Polymer({
      is: "papan-user-badge"
    })
  </script>
</dom-module>
