/bower_components
/node_modules

# Emacs temp files
*~

# MAC temp files
.DS_Store

# Log failures from Mocha
*.log

# The configuration files
/config

# Builds
/out

# Coverage reports
/.nyc_output
/instrumented
/coverage
/node-report.html
/electron-report.html
