<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<script>
  /**
   * Behavior
   *
   * @polymerBehavior PapanLocalizeImpl
   */
   PapanLocalizeImpl = {
    properties: {
      language: {
        value: 'en',
      }
    },
    
    ready: function() {
      this.loadResources(this.resolveUrl('../locales.json'));
    },
  };

  /**
   * Behavior that translates text into the selected language in the settings.
   *
   * @polymerBehavior PapanLocalize
   */
  PapanLocalize = [PapanLocalizeImpl, Polymer.AppLocalizeBehavior]; 
</script>