<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="server-info">
  <template>
    <iron-ajax
      id="ajax"
      auto
      url="serverlist.json"
      handle-as="json"
      last-response="{{serverinfo}}"
      on-response="filter">
    </iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'server-info',

      filter: function(e) {
        this.serverinfo = e.detail.response[this.serverid]
        this.serverlist = e.detail.response["list"]
      },

      _updateServerInfo: function() {
        this.$.ajax.generateRequest()
      },

      properties: {
        /*
          ID of the server we would like to get
        */
        serverid: {
          type: String,
          observer: "_updateServerInfo"
        },
        /*
          list of servers from the DB
          no need to give a serverid for this one
        */
        serverlist : {
          type : Array,
          value: [],
          notify: true
        },
        /*
          server data from the DB
        */
        serverinfo: {
          type: Object,
          value: () => {
            return {
              servername: '',
              games: [],
              usersonline: []
            }
          },
          notify: true
        }
      }
    })
  </script>
</dom-module>
