<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="user-info">
  <template>
    <iron-ajax
      id="ajax"
      auto
      url="template/data/userlist.json"
      handle-as="json"
      last-response="{{userinfo}}"
      on-response="filter">
    </iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'user-info',

      filter: function(e) {
        this.userinfo = e.detail.response[this.userid]
      },

      _updateUserInfo: function() {
        this.$.ajax.generateRequest()
      },

      properties: {
        /*
          ID of the user we would like to get
        */
        userid: {
          type: String,
          observer: "_updateUserInfo"
        },
        /*
          user data from the DB
        */
        userinfo: {
          type: Object,
          value: () => {
            return {
              username: '',
              picture: '',
              usergames: [],
              userachievements: [],
              friends: []
            }
          },
          notify: true
        }
      }
    })
  </script>
</dom-module>
